* {
  box-sizing: border-box;
}

:root {
  --primary: #1a1a1d;
  --secondary: #4e4e50;
  --third: #950740;
  --fourth: #f4fffc;
  --hover: #c3073f;
  --border-color: var(--secondary);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

html {
  background-color: var(--primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
