* {
  box-sizing: border-box;
}

:root {
  --primary: #264653;
  --secondary: #2a9d8f;
  --third: #e9c46a;
  --fourth: #f4a261;
  --fifth: #e76f51;
  --hover: var(--third);
  --border-color: var(--secondary);
}

html {
  background-color: #222;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.label {
  cursor: pointer;
}
