header {
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 40px;
  padding-inline: 30px;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.form-box {
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  align-self: flex-start;
  background-color: var(--primary);
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0;
}

.todo-item {
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 10px;
  color: var(--third);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  transition: border-color 0.2s;
}

.todo-item:hover {
  border-color: var(--third);
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item > p {
  word-break: break-all;
}
